@charset "utf-8";

body{
    font: 16px/1.5 "Noto sans KR","Maven Pro", sans-serif;
    color: #000;
    background-color: black;

}
a,a:link{
    color: inherit;
    text-decoration: none;
}
.blind{
    display: none;
}

ol li{ list-style: none;
}
ul li{
    list-style: none;
}


/* -----ad-------- */

#modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0,0,0,.3);
}
.message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 200px;
    background: ivory;
}
.message h2 {
    background: #8250cc;
    color: white;
    font-weight: 100;
    padding: 10px 20px;    
}
.message p {
    text-align: center;
    line-height: 100px;
    font-size: .875rem;
}
#close_x {
    position: absolute;
    right: 10px;
    font-weight: 100;
    top: 5px;
    color: white;
    background: none;
    border: 0;
    font-size: 2rem;
}
#close_ok {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    border: 0;
    background: #502989;
    color: white;
    padding:10px 20px;
    border-radius: 5px;        
}
#close_ok:hover {
    background: #7d43d4;
}
.ad{
   
   position: relative;
    background-color:rgb(78, 115, 184);
    height: 80px;
}
.ad-img{
    height: 60px;
    max-width: 1100px;
    margin: 0 auto;
}
.ad-close{
    font-size: 12px;
    padding: 5px;  
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: rgb(146, 144, 144);
    color: white;
}

/* ----------------header----------------- */
#main{
    background:url() ;
}
.header{
    background-color: rgba(0, 0, 0, 0.7);
}
.header-wrap{
    border-bottom:  1px solid#555;
    height: 90px;
    overflow: hidden;
}
#headerMain{
    height: 90px;
    max-width: 1100px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  
    /* 메가박스 헤더 중앙과 양끝에 한번에 정렬하는 방법 float도 사용은 가능하다
    비율이 정확하게 정렬이 가능하다*/
    align-items: center;
    /* 수직에 대한 정렬 */

}
#mainLeft,#mainRight{
   
    overflow:hidden;
    max-width:480px;
}

#gnbRight{
  
    float: left;
}

.vip{
    display: flex;
}
.vip>li{
    margin-right: 20px;
    text-transform: uppercase;
    /* 소문자를 대문자로 바꾸는  */
}


#gnbLeft{

    display: inline-flex;
}
#gnbLeft>li{

    padding:10px 20px;
 
 
    text-align: center;
}



.left-box{
    display: flex;
}


.nav{
    display: inline-flex;
}
.left-box{
    display: flex;
}
.icon-left>li{
    margin: 15px;
}
.icon-left{
    display: flex;
}





.member{
    padding-bottom: 5px;
  
    display: flex;
    
}
/* .r img{
    position: absolute;
    background-color: skyblue;
  top: 120px;
  right: 250px;
} */

.right-box{
    display: flex;
}

.icon-right>li{padding: 5px;}
.icon-right{
   
    order: 2;
    display: flex;
}
.right-box{
    display: flex;
}
#gnbRight {
    display: flex;
}
#gnbRight > li {
    text-align: center;
    padding: 0 40px;
}



#mainRight{
    display: flex;
    flex-direction: column;
}

.member>li{
    margin-left: 15px;
}


/* section------------------------------------------- */
hgroup h3::after {
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    background: silver;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
hgroup h3{text-align: center;
}
hgroup h4{
  
    color: #ccc;
    position: absolute;
    right: 0;
   
}
hgroup{
    height: 50px;
    color: ivory;
 position: relative;
    margin: 50px auto 20px;
    max-width: 1100px;
}
#main{
    padding: 30px 0;
    background:  url("../images/bg-pattern.jpg"),url("../images/bg.jpg")  no-repeat center/ cover;

}




.best4-wrap{
    position: relative;
     max-width: 1100px;
     margin: 0 auto;
}


#best4{
    display: flex;
    margin: 0 -10px;
  
}

#best4 > li{
   width: calc(25% - 20px);

margin: 0 10px;
}
#best4>li:hover .info-overlay{
    opacity: 1;}
   
#best4 .movie-poster{
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}


#best4 .movie-poster > img{
    max-width: 100%;
}


 


.rank p{
    text-shadow:2px 2px 3px black ;
}
.rank{
    top: 15px;
    left: 15px;
    position: absolute;
    font-size: 2rem;
    color: white;
    font-style: italic;
    
}
.screen{
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;

}
.screen>div{
    padding: 10px 15px;
    border-radius: 5px;
    margin:  0 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.info-overlay{
    color:white;
width: 100%;
    height: 100%;
    position: absolute;
    font-size: .875rem;
    
   transition:all .3s;
    opacity: 0;


    padding: 20px;

    box-sizing: border-box;

  
    background-color: rgba(0, 0, 0, 0.5);


   
}
.info-overlay p{
    margin: 20px 0;

}

.reviews{
    position:absolute;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    text-align: center;
}
.score{
    color: rgb(26, 131, 218);
    font-size: 1.250rem;
    font-weight: bolder;
    margin-left: 10px;
    letter-spacing: 1px;
}












.favorite{
   
    border: 1px solid#fff;
    border-radius: 5px;
    padding: 5px 32px;
    color: #fff !important;
    font-size: 1rem;
    width: 30%;
}
   
    
.booking{
    border: 1px solid transparent;
    border-radius: 5px;
    background: #037b94;
    color: white;
    text-align: center;
    padding: 5px 65px;
    font-size: 1rem;
}
.heart{
   
  
    display: inline-block;
    position: relative;
    top: 2px;
    width: 17px;
    height: 15px;
   
    background:url("../images/ico\ -heart.png");
}
.box-btns{
    justify-content: space-between;
    display: flex;
    margin: 10px 0 0;
}



/* ----------------search,extra------------------ */


#search_extra {
    width: 100%;
   
    margin: 10px 0;
    background:rgba(0,0,0,.7);
    border-radius: 5px;
    display: flex;
}
#search_extra > div {
    flex: 1;
    position: relative;
    padding: 25px 0;
    text-align: center;
    color: ivory;
}
#search_extra > div::after {
    content:'';
    display:block;
    position: absolute;
    right: 0;
    top: 25%;
    width: 1px;
    height: 50%;
    background: ivory;
}
#search_extra > div:nth-last-child(1)::after {
    display: none;
}
#search_extra > div img {
    position: relative;
    top: 5px;
    left: -5px;
}

#search input[type=text] {
    outline: 0;
    background: none;
    border: 0;
    border-bottom: 2px solid ivory;
    color: white;
    text-indent: 5px;
}

#mouse {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
}

/* *------두번째 article */
#main article:nth-of-type(2)
{
    background-color: #fff;
}
.benefit-wrap h3{
    margin: 20px 0;
    font-size: 1.125rem;
   position: relative;
}
.benefit-wrap{
    max-width: 1100px;
    margin:  0 auto;

}

#benefit{
    position:absolute;
    right: 0;
    font-size: 1.250rem;
    cursor: pointer;
}
.fit-box{
    overflow: hidden;}
    
.fix-left{
    float: left;
    float: left;
width: calc(100% - 415px);}
.fix-righr{float:right;}
#carousel{
    overflow: hidden;
    
    
    height: 285px;
}
#slide-text{position: absolute;}
#slide-img{position: absolute;}

#campaign{display: flex;}
#campaign img{
    
 max-width: 1100px;
}
/* --- 두번재 article ---- */
#main article:nth-of-type(2) {
    background: white;
}
.benefit-wrap {
    max-width: 1100px;
    overflow: hidden;
    margin: 0 auto;
}
.benefit-wrap h3 {
    font-size: 1.125rem;
    position: relative;
    margin: 20px 0;
}
#benefit {
    position: absolute;
    right:0;
    font-size: 1.250rem;
    cursor: pointer;
}
.fit-box {    
    overflow: hidden;
}
.fit-left {
    flex-direction: column;
    justify-content: space-between;
    height: 530px;
    display: flex;
    float: left;
    width: calc(100% - 430px); /* 원래 415px + 여백 15px */
    position: relative;
}
#carousel {
padding: 0 0 27px 0;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#control {
    display: flex;
    position: absolute;
    bottom: 10px;
    align-items: center;
}

.pager{display: flex;
    margin: 5px 0 0 0 ;



}
.pager li.on{ background-color: rgb(56, 5, 49);}
.pager li{
    width: 20px;
    height: 2px;
    background: #ddd;
    text-indent: -9999px;

}

.btns button{
    font-weight: bold;
    background-color: none;
    color: rgb(56, 5, 49);
    border: 0;
}
#slide-text {
    position: absolute;
}
#slide-img {
    position: absolute;
    right: 0;
}
#campaign {
    display: flex;
    flex: 1; /* flex item 확대, 축소 */
}

#campaign li:nth-child(2) img {
    transform: scale(1.02);
}
#campaign li:nth-child(2) {
    margin-left: 4%;
    width: 30%;
}
#campaign li:nth-child(1) {
    width: 66%;
}
#campaign li {
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}
#campaign img {
    max-width: 100%;
}

.fit-right a{
    font-size: 0;
    display: block;
    overflow: hidden
    ;

    border-radius: 8px;
}
.fit-right {
    width: 415px;
    float: right;
}
li{list-style: none;}




/* ---benefit--------------------------- */
.ico-benefit{
  padding: 130px 0 80px ;
  margin: -100px  0 0 0;
    background-color: purple;
}

.ico-benefit ul li{
 
text-transform:uppercase;
      color: #fff;
      text-align: center;
    
  

}


.ico-benefit ul{
    display: flex;
    justify-content: space-between;

  
    max-width: 1100px;
    margin:  0 auto;
  
    display: flex;
}
.ico-benefit ul figure{
    margin: 20px 0;
}


/* ---------------세번째 아티클-------------- */
#main article:nth-of-type(3) {
    background: #252451;
    padding: 50px 0;
}
.curation-wrap{
 
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    color: #fff;
}
#curation{
    display: flex;

}
.art{
    width: 300px;
   
}
.info{
  
    width: calc(100% -300px);
    margin-left: 30px;

}
.category{
    display: flex;
}

